/* src/styles/Layout.css */

/* Contenedor principal que alberga la barra de navegación y el contenido principal */
.main-container {
  display: flex;
  height: 100vh; /* Ocupa toda la altura de la ventana */
}

/* Barra de navegación vertical */
.sidebar {
  width: 250px; /* Ancho de la barra de navegación */
  background-color: #333; /* Color de fondo de la barra de navegación */
  color: #fff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1); /* Sombra para profundidad */
  position: fixed; /* Fija la barra de navegación */
  height: 100%; /* Ocupa toda la altura */
  top: 0; /* Alinea la barra con el borde superior */
  left: 0; /* Alinea la barra con el borde izquierdo */
  z-index: 1000; /* Asegúrate de que esté por encima del contenido principal */
}

.content {
  flex: 1; /* Ocupa el resto del espacio disponible */
  padding: 20px;
  margin-left: 250px; /* Ajusta el margen izquierdo para evitar la superposición con la barra de navegación */
  background: #f4f4f4; /* Color de fondo para el contenido principal */
}
