.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;
  background: linear-gradient(135deg, #0f2027 0%, #203a43 50%, #2c5364 100%);
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.about-content {
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  max-width: 600px;
  width: 100%;
  margin-bottom: 20px;
}

.about-title {
  font-size: 2.5rem;
  color: #FFFFFF;
  margin-bottom: 20px;
  font-family: 'Orbitron', sans-serif;
}

.about-text {
  font-size: 1.2rem;
  color: #f1f1f1;
  margin-bottom: 30px;
}

.highlight {
  color: #00d8ff;
  font-weight: bold;
}

.about-links-container {
  text-align: center;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(10px);
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
  max-width: 600px;
  width: 100%;
}

.about-links-intro {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #ffffff;
}

.about-links {
  display: flex;
  justify-content: space-around;
}

.about-link {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 30px;
  color: white;
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.about-link:hover {
  transform: scale(1.1);
}

.linkedin {
  background-color: #0a66c2;
}

.linkedin:hover {
  background-color: #084a90;
}

.github {
  background-color: #171515;
}

.github:hover {
  background-color: #0d0d0d;
}

.cv {
  background-color: #00bfae; 
}

.cv:hover {
  background-color: #009d89; 
}

