.about-container {
  padding: 20px; /* Ajusta el espaciado general de la sección */
  max-width: 800px; /* Ajusta el ancho máximo del contenedor */
  margin: 0 auto; /* Centra el contenedor horizontalmente */
}

.about-content {
  margin-bottom: 20px; /* Espacio debajo del contenido principal */
}

.about-title {
  font-size: 2em; /* Tamaño del título */
  margin-bottom: 10px; /* Espacio debajo del título */
}

.about-intro {
  margin-bottom: 15px; /* Espacio debajo del párrafo introductorio */
  font-size: 1.2em; /* Tamaño del texto del párrafo introductorio */
  color: #333; /* Color del texto */
}

.about-details {
  font-size: 1em; /* Tamaño del texto del párrafo de detalles */
  color: #666; /* Color del texto */
}

.highlight {
  font-weight: bold; /* Destacar el texto */
  color: #007bff; /* Color del texto destacado, ajusta según tu esquema de colores */
}

.about-links-container {
  margin-top: 20px; /* Espacio arriba de los enlaces */
}

.about-links-intro {
  font-size: 1.1em; /* Tamaño del texto de introducción de enlaces */
  margin-bottom: 10px; /* Espacio debajo del texto de introducción */
}

.about-links {
  display: flex; /* Muestra los enlaces en una fila */
  gap: 15px; /* Espacio entre los enlaces */
}

.about-link {
  text-decoration: none; /* Quita el subrayado de los enlaces */
  color: #007bff; /* Color del texto de los enlaces */
  font-size: 1em; /* Tamaño del texto de los enlaces */
}

.about-link:hover {
  text-decoration: underline; /* Subraya el texto al pasar el ratón sobre el enlace */
}

.linkedin {
  /* Estilos específicos para el enlace de LinkedIn (si es necesario) */
}

.github {
  /* Estilos específicos para el enlace de GitHub (si es necesario) */
}
