.about-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #ff9a9e 0%, #fad0c4 100%);
  padding: 20px;
}

.about-content {
  text-align: center;
  background-color: white;
  padding: 40px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100%;
  margin-bottom: 20px; /* Espacio entre la sección de contenido y los enlaces */
}

.about-title {
  font-size: 2.5rem;
  color: #0070f3;
  margin-bottom: 20px;
  font-family: 'Poppins', sans-serif;
}

.about-text {
  font-size: 1.2rem;
  color: #333;
  margin-bottom: 30px;
  font-family: 'Arial', sans-serif;
}

.highlight {
  color: #ff6b6b;
  font-weight: bold;
}

.about-links-container {
  text-align: center;
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.2);
  max-width: 600px;
  width: 100%;
}

.about-links-intro {
  font-size: 1.2rem;
  margin-bottom: 20px;
  color: #555;
  font-family: 'Arial', sans-serif;
}

.about-links {
  display: flex;
  justify-content: space-around;
}

.about-link {
  padding: 10px 20px;
  text-decoration: none;
  font-size: 1.2rem;
  border-radius: 30px;
  color: white;
  transition: background-color 0.3s ease;
}

.linkedin {
  background-color: #0077b5;
}

.linkedin:hover {
  background-color: #005582;
}

.github {
  background-color: #333;
}

.github:hover {
  background-color: #24292e;
}
