.certificaciones-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 90vh;
  background: linear-gradient(135deg, #0f2027 0%, #203a43 50%, #2c5364 100%);
  padding: 20px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif;
}

.certificaciones-header {
  text-align: center;
  margin-bottom: 15px;
  font-size: 2.5rem;
  color: #ffffff;
  font-family: 'Orbitron', sans-serif;
}

.certificaciones-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Dos columnas de igual ancho */
  gap: 20px; /* Espacio entre las tarjetas */
  width: 100%;
  max-width: 1200px; /* Ancho máximo para el contenedor */
}

.certificacion-card {
  border: 1px solid rgba(255, 255, 255, 0.2); /* Color de borde más suave para contraste */
  border-radius: 15px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.2); /* Fondo semitransparente */
  backdrop-filter: blur(10px); /* Desenfoque de fondo */
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* Sombra para profundidad */
  padding: 10px;
  text-align: center;
}

.certificacion-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.certificacion-title {
  font-size: 1.5rem;
  color: #ffffff;
  margin: 10px 0;
  font-family: 'Orbitron', sans-serif;
}

.certificacion-description {
  font-size: 1rem;
  color: #f1f1f1;
}
