.certificaciones-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 90vh; 
  background: linear-gradient(135deg, #0f2027 0%, #203a43 50%, #2c5364 100%);
  padding: 20px;
  color: #ffffff;
  font-family: 'Roboto', sans-serif; 
}

.certificaciones-header {
  text-align: center;
  margin-bottom: 15px;
  font-size: 2.5rem;
  color: #ffffff; 
  font-family: 'Orbitron', sans-serif; 
}

.certifications-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 20px; 
  justify-content: center;
}

    .cert-card {
  border: 1px solid rgba(255, 255, 255, 0.2); /* Borde blanco semi-transparente */
  border-radius: 15px;
  overflow: hidden;
  width: 200px; 
  padding: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5); /* <- Completa el valor del color RGBA */
  background: rgba(255, 255, 255, 0.2); /* Fondo semitransparente */
  backdrop-filter: blur(10px); /* Efecto de desenfoque del fondo */
  transition: transform 0.2s;
}

