/* Home.css */

.home-container {
  padding: 20px;
  font-family: Arial, sans-serif;
}

.home-header {
  text-align: center;
  margin-bottom: 20px;
}

.projects-grid {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: center;
}

.project-card {
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  max-width: 200px; /* Ajusta el ancho máximo de la tarjeta */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
  transition: transform 0.2s;
}

.project-card:hover {
  transform: scale(1.03);
}

.project-info {
  padding: 10px;
}

.project-title {
  font-size: 16px; /* Tamaño de fuente más pequeño */
  margin: 0;
}

.project-description {
  font-size: 14px; /* Tamaño de fuente más pequeño */
  color: #666;
  margin-top: 5px;
}

.project-image {
  width: 100%; /* Asegura que la imagen ocupe todo el ancho del contenedor */
  height: auto; /* Mantiene la proporción de la imagen */
}

.home-button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 0 0 8px 8px;
  cursor: pointer;
  text-align: center;
  font-size: 14px; /* Tamaño de fuente más pequeño */
}

.home-button:hover {
  background-color: #0056b3;
}
