/* Navbar.css */

.navbar {
  position: fixed; /* Fija la barra de navegación a la izquierda de la ventana */
  top: 0;
  left: 0;
  height: 100vh; /* Ocupa toda la altura de la ventana */
  width: 250px; /* Ajusta el ancho según sea necesario */
  background-color: #333; /* Color de fondo de la barra de navegación */
  display: flex;
  flex-direction: column; /* Disposición vertical */
  align-items: center; /* Centra los elementos horizontalmente */
  padding-top: 20px; /* Espacio en la parte superior */
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.2); /* Sombra para profundidad */
}

.navbar-logo {
  margin-bottom: 50px;
}

.navbar-image {
  width: 140px; 
  height: auto;
}
.navbar-menu {
  list-style: none; 
  padding: 0;
  margin: 0;
  width: 100%; 
}

.navbar-menu li {
  width: 100%; 
}

.navbar-menu a {
  display: block; 
  text-align: center;
  padding: 15px; 
  text-decoration: none;
  color: #ffffff; /* Color del texto */
  font-size: 1.3rem; /* Tamaño de fuente para los enlaces */
  font-family: 'Roboto', sans-serif; /* Fuente para los enlaces */
  transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar-menu a:hover {
  background-color: #444; /* Color de fondo al pasar el cursor */
  color: #00d8ff; /* Color del texto cuando se pasa el ratón sobre el enlace */
}
